.card-container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #acd5ff;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #c3d4fc 100%);
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}
