.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
}
